# NUNCA commitar
.env
.env.*
*.env
*.pem
*.key
key.json
sa-key.json

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/*.tfvars
!terraform/terraform.tfvars.example
terraform/override.tf*
terraform/.DS_Store

# Deps
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
.claude/settings.local.json
